BOT_TOKEN=your_token_here

ADMIN_IDS=your_ids_here(123456789,987654321)

DATABASE_URL=your_url_here

COMMUNITY_URL=your_url_here

GIFT_FILE_ID=your_fileid_here

WELCOME_IMAGE_ID=your_fileid_here

DB_USER=your_username_here

DB_PASSWORD=your_password_here


